DrinkRecipe.json
GenerateDrinkRecipe
GenerateScreenElement
GenerateScreenElement.hs
GenerateTableReader
ScreenElement.hs
ScreenElementBoilerplate
centroid.py
drink.py
*.csv
*.dyn_hi
*.dyn_o
*.hi
*.o
main.sh*
__pycache__
thrift
*.swp
